@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


p,
span,
a,
div {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

section,
footer {
  width: 1400px;
  margin-inline: auto;
  padding-block: 10rem;
}


html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}


@media(max-width:1472px) {

  section,
  footer {
    width: 1000px;
  }
}

@media(max-width:1038px) {

  section,
  footer {
    width: 100%;
    padding-inline: 2rem;
    padding-block: 8rem;
  }
}