.post {
    width: 25%;
    border-radius: 10px;
    border: 3px solid #343538;
    background: #FFF;
}

.eventImg {
    width: 100%;
}


.postBrief {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;

}

.cardHeading {
    color: #343434;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardBrief {
    color: #475569;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.lastAspect {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.blueText {
    color: #2563EB;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.rightArrow {
    width: 20px;
}



@media(max-width:1038px) {
    .post {
        width: 100%;
    }


}