.testimonialParent {
    background: url(/tetfund/public/purple.png);
    width: unset;
}

.testimonialContent {
    width: 1400px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 4rem;
}

.subtitle {
    font-size: 4rem;
    text-transform: capitalize;
}


.testimonialContentSecondChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
}


.mainImg {
    width: 80px;
}


.morePersonalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2.5rem;
}

.name {
    text-align: center;
    font-family: Poppins;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}

.realName {
    color: #FF5722;
}

.starts {
    font-size: 2.5rem;
}


.moreBriefing {
    color: #475569;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 500px;
}

.left {
    width: 60px;
    height: 60px;
    background: #2563EB;
    border-radius: 50%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move {
    width: 20px;
}

.right {
    width: 60px;
    height: 60px;
    background: #2563EB;
    border-radius: 50%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width:1472px) {
    .testimonialContent {
        width: 1000px;
    }

    .subtitle {
        font-size: 2.5rem;
    }

    .mainImg {
        width: 60px;
    }


    .morePersonalContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 2.5rem;
    }

    .name {
        font-size: 2rem;
    }

    .starts {
        font-size: 1.6rem;
    }


    .left {
        width: 40px;
        height: 40px;
    }

    .move {
        width: 15px;
    }

    .right {
        width: 40px;
        height: 40px;
    }

}


@media(max-width:1038px) {
    .testimonialContent {
        width: 100%;
        /* padding-inline: 2rem; */
    }

    .subtitle {
        font-size: 2rem;
    }

    .mainImg {
        width: 40px;
    }

    .moreBriefing {
        width: 100%;
    }

    .morePersonalContent {
        gap: 2rem;
    }

    .name {
        font-size: 1.6rem;
    }

    .starts {
        font-size: 1rem;
    }


    .left {
        width: 30px;
        height: 30px;
    }


    .right {
        width: 30px;
        height: 30px;
    }

}